<h1 class="<%= get_style_classes('h1-title')%>" >Editing Sender</h1>

<%= render 'edit_form', sender: @sender %>

<%= link_to 'Show', @sender, class:get_style_classes('btn-show') %> |
<%= link_to 'Back', senders_path, class: get_style_classes('btn-back') %>
